.main-home{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    

    .info-food{
        display: flex;
        justify-content: center;
        height: 350px;
        width: 450px;
        align-items: center;
        text-align: center;
        margin: auto;
        flex-direction: column;
        @media (max-width: 1024px) {
            width: 100%;
            
          }
        @media (max-width: 768px) {
            width: 100%;
            
        }
        @media (max-width: 320px) {
            margin-top: 100px;
            height: 620px;
            margin-bottom: 30px;
        }

        .title-h1{
            font-size: 40px;
            @media (max-width: 1024px) {
                font-size: 30px;
            }
            @media (max-width: 768px) {
                
               
            }
            @media (max-width: 640px) {
                font-size: 26px;
            }
            @media (max-width: 475px) {
                
                font-size: 60px;
            }
        }

        .info-main{
            align-items: center;
            text-align: center;
            width: 400px;
            color: #3d3b3b;
            @media (max-width: 768px) {
                
                
            }
            @media (max-width: 640px) {
                font-size: 13px;
            }
            @media (max-width: 475px) {
                
                font-size: 15px;
            }
            @media (max-width: 375px) {
                font-size: 13px;
                text-align: center;
                width: 300px;
            }
            @media (max-width: 320px) {
                
                font-size: 20px;
            }
        }
    }

    .cuisine{
        display: flex;
        flex-direction: column;
        height: 400px;
        margin-top: 20px;
        @media (max-width: 768px) {
            height: 1300px;
        }
        @media (max-width: 1024px) {
            
        }
        @media (max-width: 425px) {
            height: 1400px;
            
        }
        @media (max-width: 320px) {
            height: 3000px;
        }

        .find-international{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            margin: auto;
            width: 100%;
            font-size: 25px;
            @media (max-width: 1024px) {
                font-size: 22px;
            }
            @media (max-width: 768px) {
                font-size: 21px;
            }
            @media (max-width: 640px) {
                font-size: 19px;
            }
            @media (max-width: 425px) {
                text-align: center;
                
            }
            @media (max-width: 425px) {
                font-size: 35px;
                
            }
            @media (max-width: 375px) {
                font-size: 35px;
            }
            @media (max-width: 320px) {
                font-size: 45px;
                
               
            }
        }

        .international-recipes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 300px;
            margin: auto;
            width: 80%;

            @media (max-width: 1024px) {
               
            }
            @media (max-width: 880px) {
                justify-content: center;
                
            }
            @media (max-width: 768px) {
                justify-content: center;
                flex-direction: column;
                height: 1200px;
            }
            @media (max-width: 320px) {
                display: flex;
                justify-content: center;
                flex-direction: column;
                height: 2600px;
                
            }

            .recip{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                max-width: 100%;
                cursor: pointer;
                @media (max-width: 1024px) {
                    
                    
                }
                
                .inter{
                    width: 235px;
                    display: flex;
                    height: 235px;
                    max-width: 100%;
                    border-radius: 15px;
                    @media (max-width: 1440px) {
                        width: 210px;
                        
                    }
                    @media (max-width: 1280px) {
                        width: 190px;
                        height: 190px;
                        margin: 0 8px;
                    }
                    @media (max-width: 1024px) {
                        width: 145px;
                        height: 180px;
                        margin: 0 14px;
                    }
                    @media (max-width: 880px) {
                        width: 120px;
                        height: 140px;
                        
                    }
                    @media (max-width: 768px) {
                        width: 200px;
                        height: 180px;
                    }
                    @media (max-width: 320px) {
                        display: flex;
                        flex-direction: column;
                        height: 350px;
                        width: 300px;
                    }
                }

                .name-recipe{
                    text-align: center;
                    align-items: center;
                    font-weight: 700;
                    color: black;
                    font-size: 17px;
                    width: 150px;
                    padding: 3px;
                    @media (max-width: 320px) {
                        font-size: 35px;
                    }
                }

                .name-recipe:hover{
                    background-color: #E6F4F3;
                }
            }

            

        }
    }

    .main-ideas{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        padding: 20px;
        font-size: 25px;
        @media (max-width: 1024px) {
           
        }
        @media (max-width: 768px) {
            
        }
        @media (max-width: 640px) {
            font-size: 23px;
        }
        @media (max-width: 425px) {
            font-size: 35px;
            
        }
        @media (max-width: 320px) {
            font-size: 80px;
            
            text-align: center;
        }
    }

    .recipes-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 95%;
        
        
        @media (max-width: 768px) {
           width: 90%;
            
        }
        @media (max-width: 640px) {
            width: 90%;
            
        }
        
        @media (max-width: 320px) {
            
            
        }
            
            .li-recipe{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-left: 11px;
                padding-top: 10px;
                padding-right: 5px;
                margin-bottom: 21px;
                @media (max-width: 768px) {
                    width: 200px;
                    height: 280px;   
                }
                @media (max-width: 640px) {
                    width: 180px;
                    height: 280px;
                    
                    
                }
                @media (max-width: 475px) {
                    
                    
                }
                @media (max-width: 320px) {
                    width: 200px;
                    height: 200px;
                    
                }

                .recipes{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    text-align: center;
                    align-items: center;
                    @media (max-width: 640px) {
                        justify-content: center;
                    }
                    @media (max-width: 475px) {
                        margin-right: 35px;
                        
                    }
                    @media (max-width: 320px) {
                        
                        
                    }

                    .name-recipe{
                        position: absolute;
                        top: 5%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-size: 15px;
                        z-index: 1;
                        color: white;
                        font-weight: 800;
                        display: flex;
                        background-color: rgb(196, 114, 82);
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        border-radius: 10px;
                        padding: 3px;
                        padding-right: 5px;
                        padding-left: 5px;

                        @media (max-width: 320px) {
                            font-size: 18px;
                            
                        }
                    }

                    .img-recipe{
                        height: 350px;
                        width: 210px;
                        border-radius: 15px;
                        @media (max-width: 1024px) {
                            width: 150px;
                            height: 280px;
                        }
                        @media (max-width: 768px) {
                            width: 200px;
                            height: 280px;
                        }
                        @media (max-width: 640px) {
                            width: 180px;
                            height: 250px;
                        }
                        @media (max-width: 320px) {
                            width: 220px;
                            height: 220px;
                            margin-right: 20px;
                        }
                        
                    }

                    .button-recipefood{
                        text-decoration: none;
                        color: rgb(101, 120, 121);
                        width: 70px;
                        padding: 8px 8px;
                        border: 1px solid;
                        border-radius: 20px;
                        font-weight: 800;
                        color: white;
                        background-color: rgb(187, 59, 20);
                        margin-bottom: 80px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        margin-top: 15px;
                    }
                }
            }
    }
}